<%- include("partials/header") -%>

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="css/styles.css">
    <title> Daily Journal </title>
  </head>
  <body>
    <h1> Home </h1>
   <p>  <%= startingContent %> </p>

  <%  posts.forEach(function(post) { %>
    <h1><%= post.title %></h1>
    <p><%= post.content.substring(1, 100) + "..." %>
<a href="/post/<%=post.title%>">Read More</a>
</p>
  <%  }) %>


  </body>
</html>

<%- include("partials/footer") -%>
